{% extends 'base.html' %}

{% block body %}
	<div class="fotos container">
		<div class="foto">
			<header class="foto-header">
				<figure class="foto-usuario">
					<img src="https://instagram.frec3-1.fna.fbcdn.net/vp/d9f32c820b592b0bf8c279cab45a9e0d/5DA13D5A/t51.2885-19/s150x150/64417995_417746292286328_7035607037341859840_n.jpg?_nc_ht=instagram.frec3-1.fna.fbcdn.net" alt="foto do usuario">
					<figcaption class="foto-usuario">
						<a href="#">
							dennysazevedo
						</a>  
					</figcaption>
				</figure>
				<time class="foto-data">03/10/2016 20:13</time>
			</header>

			<img alt="foto" class="foto-src" src="https://instagram.frec3-1.fna.fbcdn.net/vp/8ccbeb9c24c2d10f8b5426a136e1039f/5DA97293/t51.2885-15/e15/11380011_1559796607609806_1236822961_n.jpg?_nc_ht=instagram.frec3-1.fna.fbcdn.net">

			<div class="foto-info">
				<div class="foto-info-likes">

					<a href="#">
						alots_ssa
					</a>

					,

					<a href="#">
						rafael_rollo
					</a> 

					 curtiram
			 
				</div>

				<p class="foto-info-legenda">
					<a class="foto-info-autor">autor </a>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, illo?
				</p>

				<ul class="foto-info-comentarios">
					<li class="comentario">
						<a class="foto-info-autor">seguidor </a>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ad, molestiae.
					</li>
					<li class="comentario">
						<a class="foto-info-autor">seguidor </a>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt cumque earum molestias voluptatem modi nihil sit magnam ratione eveniet distinctio magni error asperiores dignissimos tempora expedita, laborum ex soluta hic maiores veritatis deserunt.
					</li>
					<li class="comentario">
						<a class="foto-info-autor">seguidor </a>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laudantium quae ab fuga odio delectus maiores voluptatibus sit commodi quidem.
					</li>
				</ul>
			</div>


			<section class="fotoAtualizacoes">
				<a href="#" class="fotoAtualizacoes-like">Likar</a>
				<form class="fotoAtualizacoes-form">
					<input type="text" placeholder="Adicione um comentário..." class="fotoAtualizacoes-form-campo">
					<input type="submit" value="Comentar!" class="fotoAtualizacoes-form-submit">
				</form>
			</section>

		</div>
	</div>
{% endblock %}